Source: jfwknop
Section: java
Priority: optional
Maintainer: Franck Joncourt <franck.joncourt@gmail.com>
Build-Depends: debhelper (>= 9), default-jdk, maven-debian-helper (>= 2.1)
Build-Depends-Indep: 
 libcommons-lang3-java,
 libjsch-java (>= 0.1.53),
 liblog4j1.2-java (>= 1.2.17),
 libmiglayout-java,
 libbcpg-java,
 libbcprov-java 
Standards-Version: 3.9.8
Homepage: https://github.com/fjoncourt/jfwknop

Package: jfwknop
Architecture: all
Depends: java-wrappers, ${misc:Depends}, ${maven:Depends}
Suggests: ${maven:OptionalDepends}
Description: Fwknop User Interface
 Lightweight fwknop client graphical user interface

